$left-width: 216px;

$font_sizes: (
        font-size_xxs: 12px,
        font-size_xs: 13px,
        font-sixe_sm: 15px,
        font-size_md: 17px,
        font-size_lg: 22px,
        font-size_xxl: 28px,
);
$colors: (
        main-bg:#F4F4F4,
        font-color: #17181A,
        color-black: #000000,
        color-white: #FFFFFF,
        active-green: #73962C,
        light-grey: #BDBDBE,
        checkbox-color-title: #2268B4,
        color-green-icon: #99C63C,
        bg-color-footer: #26282C,

);
$line-height: (
        line-height_xs: 14px,
        line-height_sm: 18px,
        line-height_md: 22px,
        line-height_lg: 30px,
)